[submodule "vmd_motion"]
	path = vmd_motion
	url = https://github.com/EIRTeam/VMDMotionGD.git
[submodule "addons/vmd_motion"]
	path = addons/vmd_motion
	url = https://github.com/EIRTeam/VMDMotionGD.git
